@mixin flexy($disp:flex,$dir:null,$wrap:null,$just:null){

    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;

}

@mixin buttonEffect {

    & button:hover{
        background-color: $main-color3;
        color: $main-white;
        cursor: pointer;
    }

    & button:active{
        background-color: $main-color2;
        color: $main-white;
    }
}

@mixin mq($break) {

    $value:map-get($map: $breakpoints, $key:$break );

    $sm:map-get($breakpoints,'sm');


    @if($value==null){

        @error "`#{break} ` is not a valid breakpoint";
    }
    @else if $value<$sm{

        @media(max-width:$value){

            @content;
        }
    }
    @else {

        @media (min-width:$value) {

            @content;
            
        }
    }
    
}



%exemplu {
    border: 2px solid blue;
}